<div class="container" style="border-bottom: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1;  padding-top: 1rem;">
  <div class="just-center">
    <a class="button button-clear" href="#">Log In</a>
    <a class="button button-center" href="#">Blogroll</a>
    <a class="button button-clear" href="#">Sign Up</a>
  </div>
</div>