<div class="container" style="border-bottom: 1px solid #e1e1e1; border-top: 1px solid #e1e1e1;  padding-top: 1rem;">
  <div class="just-center">
    {{#if login}}
    <a class="button button-clear" id="signup" href="#" target='signup'>Sign Up</a>
    <a class="button button-center" id="login" href="#" target='login'>Log In</a>
    <a class="button button-clear" id="blogroll" href="#" target='blogroll'>Blogroll</a>
    {{else if signup}}
    <a class="button button-clear" id="login" href="#" target='login'>Log In</a>
    <a class="button button-center" id="signup" href="#" target='signup'>Sign Up</a>
    <a class="button button-clear" id="blogroll" href="#" target='blogroll'>Blogroll</a>
    
    {{else}}
    <a class="button button-clear" id="login" href="#" target='login'>Log In</a>
    <a class="button button-center" id="blogroll" href="#" target='blogroll'>Blogroll</a>
    <a class="button button-clear" id="signup" href="#" target='signup'>Sign Up</a>
    {{/if}}
    
  </div>
</div>

<script src="/js/outButtons.js"></script>



