<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav>
        <a href="/">Home</a>
          {{#if logged_in}}
          <a href="/dashboard">dashboard</a>
          <button id="logout" class="btn-no-style">logout</button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
      </nav>
      <h1>
        {{> nav-section}}
      </h1>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
  </div>
  {{#if logged_in}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>