<div class="container" style="margin-top: 3rem;">
  <div class="just-center">
<input class="button-primary" id="newpost" type="submit" value="Add New Post">
</div>
</div>

<script src="/js/newpost.js"></script>
