<!-- The view is currently rendered using hardcoded data. -->
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                it's a tech blog!
            </h1>
        </header>
        <div class="menu-container">
            <div class="card-header col-md-10">
                <h2>
                    The Blog That Writes Itself
                </h2>
            </div>
            <div>
                <p>
                I am building a tech blog, and I have no idea what I’m doing. That's how it feels anyway.</p>
                <p>One thing I do know is that blogs are logs that exist on the web. This means l need a way to get my program onto the
                internet.</p>
                <p>The only programming language I am familiar with is JavaScript, so I am building my blogging application in Node JS and
                using Express as my server framework.</p>
                <p>Node allows me to run javascript on my computer and develop my program. Express gives me the tools to easily set up
                routes to and render HTML to the screen so I don’t have to write so much javascript.</p>
                <p>Now to set up my server and decide what step to take next.</p>
            </div>
        </div>
    </div>
</body>

</html>