<div class="container" style="margin-top: 3rem;">
<div class="just-center">
<form class="blog-post">
  <div class="row">
    <div class="ten columns">
      <input 
      id="blog-title" class="u-full-width" type="text" placeholder="type your title here">
    </div>
  </div>

  <div class="row">
    <div class="ten columns">
      <textarea  id="blog-body" class="u-full-width" placeholder="type your blog post here"></textarea>
      <label class="example-send-yourself-copy">
    </div>
  </div>
  </div>

  <input id="post" class="button-primary" type="submit" value="Submit">
  <button type="submit" class="button">Return to your blog list</button>
</form>

</div>

<script src="/js/submitPost.js"></script>