<div class="container" style="margin-top: 3rem;">
<form class="signup-form">
  <div class="row">
    <div class="nine columns">
      <label for="emailInput">Your email</label>
      <input class="u-full-width" type="email" placeholder="your@email.com" id="emailInput">
    </div>
  </div>

  <div class="row">
    <div class="nine columns">
      <label for="usernameInput">Username</label>
      <input class="u-full-width" type="text" placeholder="Your username here" id="usernameInput">
    </div>
  </div>

  <div class="row">
    <div class="nine columns">
      <label for="passwordInput">Password</label>
      <input class="u-full-width" type="password" placeholder="password" id="passwordInput">
    </div>
  </div>

  <input class="button-primary" type="submit" value="Submit">
</form>
</div>

<script src="/js/signup.js"></script>