:root {
  --primary: #a846a0ff;
  --secondary: #499167ff;
  --tertiary: #f3d6ffff;
  --light: #ebebd3ff;
  --dark: #262730ff;
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  color: var(--dark);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--tertiary);
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

.headline header {
  margin: 10px;
  flex: 0 1 300px;
  border-radius: 10px;
  background-color: var(--secondary);
  color: var(--light);
}

nav {
  display: flex;
}

nav a {
  color: var(--light);
  font-weight: bold;
  font-size: 1.5em;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
